header {
    font-size: 45px;
    background: #ebebeb;
    text-align: center;
}
body {
    display: inline;
    margin: auto;
}
nav {
    font-size: 45px;
    background: #ebebeb;
    text-align: center;
    margin: auto;
    padding-block: 2px;
}
.container {
    background: #ebebeb;
    text-align: center;
    width: 480px;
    display: inline-block;
        width: 90px;
        height: 50px;
        margin: 5px;
}
section {

    background: #ebebeb;
    text-align: center;
   float: left;
   margin: auto;
   width: 60%;
}
aside {
    margin: auto;
    float: left;
    margin: 0 1.5%;
    width: 33%;
    height: 155px;
    background: #ebebeb;
    text-align: center;
}
footer {
    margin: auto;
    text-align: center;
    background: #ebebeb;
    width: 100%;
    float: left;
    height: 160px;
}
h1 {
    background: #777;
}
p {
    background: #ebebeb;
}

